body{
  background-image: url('../images/bg.png');
  background-repeat: repeat;
  width: 100%;
  height: 100%;
}

h1, .header-font {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:1.5em;
}

.content-font {
  font-size: 1.2em; 
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width:100%;
  background-color: #DDDDDD;
  padding: 10px 0px 10px 0px;
  margin-bottom:20px;
  border-bottom: 5px solid #BBBBBB;
}

.name{
  font-weight:bold;
  width: 50%;
  background-color:#EEEEEE;
  padding:5px 10px 8px 10px;
}

.content-width{
  width:960px;
  margin: 0 auto;
}

.link{
  float:right;
  margin-left:20px;
}
.link:hover{
  font-style: italic;
}

/* ensures padding around elements */
.section-content-wrapper{
  margin:15px;
}

.divider-line{
  margin:0 auto;
  min-height:1px;
  margin-bottom:20px;
  background-color:#BBBBBB;
}

.left-content{
  width: 650px;
  background-color: #EEEEEE;
  float:left;
  padding-bottom:15px;
  margin-bottom:80px; /* keeps content above footer */
}

p-wrap{
  float:left;
}

.me-pic{
  float:left;
  margin-right:15px;
  width:100px;
}

/* Project Gallery */
.projects-wrapper{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.proj-wrapper{
  display:flex;
}
.proj-pic{
  margin-bottom:30px;
}
.proj-name{
  position: absolute;
  color:black;
  background-color:white;
  padding:10px;
}


/* form elements */
input{
  width:100%;
  margin: 5px 0px 10px 0px;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 5px;
}
input[type=submit]{
  background-color:#93AB60;
  color:white;
  margin-top:10px;
}
input[type=submit]:hover{
  background-color:#93AB60;
  font-style: italic;
}
textarea {
  height:100px;
  width:100%;
  margin: 5px 0px 10px 0px;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: .9em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 5px;
}

.right-content{
  width: 270px;
  background-color: #EEEEEE;
  float:right;
}
.icon{
  width:60px;
}

footer {
  width:100%;
  background-color: #DDDDDD;
  padding: 20px 0px 20px 0px;
  border-top:5px solid #BBBBBB;
  text-align:center;
  position:absolute;
  bottom:0;
  position:fixed;
}